@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
                                                                   
@import url('https://fonts.cdnfonts.com/css/lab-pulsar');
                                    
                                                        
@font-face {
  font-family: 'Drexs';
  font-weight: bolder;
  src: url("Drexs-z8gB3.ttf") format('opentype');
}
@font-face {
  font-family: 'Galactica';
  font-weight: bolder;
  src: url("Galacticagrid-8Mr7J.ttf") format('opentype');
}

:root {
  --font-family3: 'Lab Pulsar', sans-serif;
                                                
  --font-family: 'Drexs', screen;
  --font-family2: 'Galactica' , sans-serif;

  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  scroll-behavior: smooth;
  --color-bg: #040C18;
  --color-footer : #071643;
  --color-blog: #071643;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
}
